.ActionGroupButton{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.table-description{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.table-space{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.grid-container {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }
  